[alias]
	lgg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %Cgreen(%cr) %C(bold blue)<%an>%Creset %n%f%n' --abbrev-commit -5
	lgga = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %Cgreen(%cr) %C(bold blue)<%an>%Creset %n%f%n' --abbrev-commit -5 --all
	lg = log --graph --decorate --color -5
	st = status
	a = add
	b = branch
    c = commit
    d = diff
    f = fetch
    i = init
    l = lgg
    p = pull
    r = rebase
    rs = restore
    s = status
    t = tag
	chk = checkout
[color]
	status = always
	diff = always
	branch = always
	interactive = always
[core]
	autocrlf = input
	editor = vim
[user]
	name = pengyongsheng
	email = pengyongsheng@goodix.com
[http]
	proxy = 127.0.0.1:8118
[https]
	proxy = 127.0.0.1:8118
[pull]
    rebase = true
